@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --color-cyan: hsl(179, 62%, 43%);
  --lighter-cyan: hsl(179, 45%, 53%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  color: var(--color-white);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
}

main {
  width: 40.5rem;
  margin: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.top-content {
  background-color: var(--color-white);
  padding: 2.5rem;
}

.join-heading {
  color: var(--color-cyan);
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
}

.join-subheading {
  color: var(--bright-yellow);
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.join-paragraph {
  color: var(--grayish-blue);
}

.bottom-content {
  display: flex;
}

.subscription-heading,
.why-heading {
  font-size: 1.1rem;
}

.subscription {
  background-color: var(--color-cyan);
  width: 50%;
  padding: 2.5rem;
}

.price {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.2rem;
}

.number {
  font-size: 2rem;
  font-weight: 700;
  padding-right: 0.5rem;
}

.words {
  font-weight: 400;
  color: var(--light-gray);
}

.subscription-paragraph {
  padding-bottom: 1.25rem;
}

button {
  background-color: var(--bright-yellow);
  color: var(--color-white);
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: none;
  border-radius: 5px;
  padding: 1rem 0;
  font-size: 1rem;
}

.why {
  background-color: var(--lighter-cyan);
  padding: 2.5rem;
  width: 50%;
}

ul {
  padding-top: 0.75rem;
  list-style-type: none;
  color: var(--light-gray);
  font-size: 0.85rem;
}

/* Footer Section */
footer {
  padding-bottom: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--grayish-blue);
}
.attribution a {
  color: var(--color-cyan);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  main {
    width: min(90%, 320px);
    margin: 5rem 0;
  }

  .top-content {
    padding: 1.5rem;
  }

  .join-paragraph {
    font-size: 0.85rem;
  }

  .bottom-content {
    flex-direction: column;
  }

  .subscription,
  .why {
    width: 100%;
    padding: 1.5rem;
  }
}
